.homepage {
    height: 100%;
    background-color: #01B8A4;
    color: white;

    &__head {
        height: 20%;

        &_greating {
            text-align: center;
            font-size: 40px;
        }
        &_greatingInfo {
            padding-left: 60%;
            font-size: 25px;
            margin: 20px 0;
        }
    }

    &__content {
        columns: 3;
        background-color: #305075;

        &_left {
            height: 80%;

            .picture__one {
                margin-top: 30px;
                border-radius: 100px;
                transform: rotate(-20deg);
            }
            .picture__two {
                margin: 10px 15px 10px 40px;
                border-radius: 100px;
                border: 3px solid silver;
                transform: rotate(-15deg);
            }
        }
        &_center {
            padding-top: 10px;
            height: 80%;

            h1 {
                text-align: center;
            }
        }

        &_regForm {
            height: 80%;

            &_btn {
                box-shadow: 0 0 0 3px white, 0 0 13px #333;
                background-color: #60e035;
                margin: 10px;
                margin-left: 100px;
                padding: 10px;

            }
        }
    }
}
