.content__MainUser {

    .mainUser__info {
        display: flex;
        background-color: #EDEEF0;

        .main_ava_svg {
            width: 120px;
            height: 120px;

            .main_ava_rect {
                width: 80px;
                height: 80px;
                x: 20px;
                y: 20px;
                fill: none;
                stroke: yellowgreen;
            }
        }

        .personal__info {
            padding-top: 20px;
            display: flex;
            flex-direction: column;

            .main_info_status {
                input {
                    border: none;
                    background-color: #EDEEF0;
                }
            }
        }
    }

    .nav_under_mainInfo {
        display: flex;
        justify-content: space-between;
        background-color: #2C8FE5;
        padding: 5px;

        .position_newContact_contact {
            .add_button_style {
                border: none;
                padding: 2px;
            }
        }
        .position_my_contacts {
            padding: 2px;

        }
    }
}
