.content_MainUser {

    .mainUser_info {
        display: flex;
        background-color: #EDEEF0;

        svg {
            width: 120px;
            height: 120px;

            rect {
                width: 80px;
                height: 80px;
                x: 20px;
                y: 20px;
                fill: none;
                stroke: yellowgreen;
            }
        }

        .personal_info {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
        }
    }
    .position_newContact_contact {
        display: flex;
        justify-content: flex-end;

        .newContacts_button {

        }
    }
}
