.chatNav {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #C9ADDF;
    height: 180px;
    font-size: 20px;

    &__toNews {
        button {
            background-color: #C9ADDF;
            border-right: 0;
            border: 20px solid transparent;
            border-right: 20px solid #7485af;
            outline: none;
        }
    }

    &__toUser {
        text-align: center;
        flex-grow: 1;
    }
}


.chat {
    height: 70%;

    &__window {
        height: 90%;
        background-color: #f5f5ff;

        &_dialog {
            height: 100%;
            overflow: auto;

            .hostsMessages {
                display: flex;
                justify-content: flex-end;
                text-align: right;

                .message__body {
                    text-align: left;
                }

                .textMessage {
                }
            }

            .othersMessages {
                display: flex;

                .message__body {
                }

                .textMessage {
                }
            }

            .viewMessage {
                margin: 5px;
                border-radius: 9px;
                // background-color: #4CDAFE;
                background-color: #8edaed;

                &__whoSend {
                }
            }

            .timeMessage {
                text-align: right;
                padding-top: 5px;
                color: #009E5C;
                font-size: 11px;
            }
        }

        &_send {

            &_input {
                padding-left: 10px;
                width: 90%;
                height: 30px;
            }

            &_button {
                width: 10%;
                background-color: #7485af;
                height: 30px;
            }
        }
    }
}
