.nav_over_chatwindow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #C9ADDF;
    height: 200px;
    font-size: 20px;

    .return__back {
        button {
            border-left-color: steelblue;
            border-right: 0;
            border-radius: 100px;
            padding: 3px 0;
            width: 60px;
            margin-left: 30px;
        }
    }

    .chat_with_user {
        text-align: center;
        flex-grow: 1;
        margin-right: 30px;
    }
}


.chat__content {
    height: 68%;

    .chat__design {
        display: flex;
        border: 1px dotted grey;
        height: 90%;
        background-color: #f5f5ff;

        .sphere {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 1px solid blue;
            text-align: center;
        }

        .host {
            padding: 10px;
            width: 10%;
            border: 1px solid grey;
        }

        .correspondence {
            // width: 75%;
            .view__messages {

                .textMessage {
                    margin: 10px 45% 10px 10px;
                    padding: 7px;
                    border-radius: 9px;
                    background-color: #4CDAFE;
                    border: 2px solid #B2FFBB;
                }

                .timeMessage {
                    color: #009E5C;
                    text-align: right;
                }
            }
        }

        .companion {
            padding: 10px;
            width: 10%;
            border: 1px solid grey;
        }
    }

    .input__message {
        margin: 10px 0px 0px 20px;
        height: 30px;
        padding-left: 10px;
        width: 90%;

        .send__message {
            height: 30px;
        }
    }
}
