.nav_over_chatwindow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #C9ADDF;
    height: 200px;
    font-size: 20px;

    .return__back {
        button {
            background-color: #C9ADDF;
            border-right: 0;
            border: 20px solid transparent;
            border-right: 20px solid #7485af;
            outline: none;
        }
    }

    .chat_with_user {
        text-align: center;
        flex-grow: 1;
    }
}


.chat__content {
    height: 75%;

    .chat__design {
        height: 90%;
        background-color: #f5f5ff;

        .correspondence {
            height: 100%;
            overflow: auto;

            .view__messagesHost {
                display: flex;
                text-align: right;

                .message__body {
                    display: flex;
                    flex-direction: row;
                }

                .textMessage {
                    padding-left: 5px;
                }
            }

            .view__messages {
                display: flex;
                justify-content: flex-end;

                .message__body {
                    display: flex;
                    flex-direction: row-reverse;
                }

                .textMessage {
                    padding-right: 5px;
                }
            }

            .messageContent {
                margin: 5px;
                border-radius: 9px;
                // background-color: #4CDAFE;
                background-color: white;
            }

            .whoSend {
            }

            .mini__ava {
                height: 50px;
                width: 50px;
                border: 1px solid blue;
            }

            .timeMessage {
                display: flex;
                align-items: flex-end;
                color: #009E5C;
                font-size: 11px;
            }
        }
    }

    .sedding__messages {

        .input__message {
            padding-left: 10px;
            width: 90%;
            height: 30px;
        }

        .send__message {
            width: 10%;
            background-color: #7485af;
            height: 30px;
        }
    }
}
