.login {

    &__fieldset {
        width: 210px;
        margin: 50px;
        background-color: #F3F3F3;
        border: none;
        border-radius: 5px;

        &_form {
            color: #4A4446;

            &_info {
                padding: 0 10px;

                &_summary {
                    font-size: 13px;
                    color: #808682;
                }
            }

            &_inputs {
                display: flex;
                padding: 20px 10px 0 10px;

                &_email, &_password {
                    padding: 10px;
                    border-radius: 5px;

                    &:focus {
                        background-color: #DFE9EB;
                    }
                }
            }

            &_button {
                width: 90%;
                margin: 10px 10px 0 10px;
                padding: 10px;
            }

            &_entry {
                display: flex;
                font-size: 13px;
                margin-left: 10px;
                margin-top: 20px;

                &_passport {
                    margin-left: 50px;
                }
            }
        }
    }
}
