.header__registration {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;

    .logo {
        padding: 30px;
    }

    .sign__switching {
        button {
            margin: 20px;
            width: 70px;
            height: 40px;
        }
    }
}


.content_login {
    background-color: #87B3C0;
    height: 90%;

    .form__login {
        display: flex;
        justify-content: center;

        .fieldset_login_form {
            width: 210px;
            margin: 50px;
            background-color: #F3F3F3;
            border: none;
            border-radius: 5px;

        }

        .location__inform {
            color: #4A4446;

            .login_info {
                padding: 0 10px;

                summary {
                    font-size: 13px;
                    color: #808682;
                }
            }

            .location__fields {
                display: flex;
                padding: 20px 10px 0 10px;

                .input__email, .input__password {
                    padding: 10px;
                    border-radius: 5px;

                    &:focus {
                        background-color: #DFE9EB;
                    }
                }
            }

            .button__login {
                width: 90%;
                margin: 10px 10px 0 10px;
                padding: 10px;
            }

            .form_entry {
                display: flex;
                font-size: 13px;
                margin-left: 10px;
                margin-top: 20px;

                .passport_entry {
                    margin-left: 50px;
                }
            }
        }
    }
}


.form_create_account {
    display: flex;
    justify-content: center;


    h3 {
        text-align: center;
        // font-size: 20px;
        font-weight: bold;
        color: #70AF5C;
    }
    .required {
        display: flex;
        justify-content: flex-end;
        text-decoration: underline;
    }
    .field_group {
        // text-align: left;
        .blocks {
            // border: 1px dotted grey;
            padding-bottom: 10px;
            margin-bottom: 5px;

        }

        .inputs_group {
            border-radius: 4px;
            border-width: 1px;
            margin: 10px 0 10px 50px;
            width: 300px;
            height: 30px;

            &:active {
                border-color: blue;
            }

        }
    }
    .button_create_account  {
        display: flex;

        button {
            border: none;

            width: 350px;
            height: 30px;
            color: white;
            background-color: #70AF5C;
            border-radius: 3%;

        }
    }
}
.form-error {
    // padding-left: 150px;
    color: red;
}
