.regPage {
    &__header {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        display: flex;

        &_logo {
            padding: 30px;
        }
    }
}
