.reg__page {
    .header__registration {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        display: flex;

        .header_reg_logo {
            padding: 30px;
        }

        .sign__switching {
            button {
                margin: 20px;
                width: 70px;
                height: 40px;
            }
        }
    }
}
